include ../btn/btn.pug
include ../speech-bubble/speech-bubble.pug

mixin message-form(options)
  -
    options = options ? options : {};
    options.name = options.name ? options.name : {};
    options.email = options.email ? options.email : {};
    options.message = options.message ? options.message : {};
    options.btn = options.btn ? options.btn : {};
    options.btn.classname = 'message-form__btn';
    options.errorMsg = options.errorMsg ? options.errorMsg : 'Error';
    options.successMsg = options.successMsg ? options.successMsg : 'Thanks!';

    if (options.action) {
      options.btn.type = 'submit';
    }

  form.message-form(class=options.classname, action=options.action, method=options.method, data-error-msg=options.errorMsg, data-success-msg=options.successMsg)
    .message-form__row
      input.message-form__name(required=options.name.required, type="text", placeholder=options.name.placeholder, value=options.name.value)
      +speech-bubble({classname: 'message-form__bubble'})
    .message-form__row
      input.message-form__email(required=options.email.required, type="text", placeholder=options.email.placeholder, value=options.email.value)
      +speech-bubble({classname: 'message-form__bubble'})
    .message-form__row
      textarea.message-form__message(required=options.message.required, placeholder=options.message.placeholder, value=options.message.value)
    .message-form__row
      +btn(options.btn)
