mixin progress-tracker(options)
  -
    options = options || {};

    const { color } = options;

    let className = "progress-tracker";
    className += color ? ` progress-tracker_color_${color}` : "";

    let { stepCount, activeStep } = options;

    stepCount = stepCount || 0;
    activeStep = activeStep || 0;

    if (stepCount < 0) {
      stepCount = 0;
    }

    if (activeStep < 0) {
      activeStep = 0;
    } else if (activeStep > stepCount) {
      activeStep = stepCount
    }

  div(class=className)
    - for (let i = 1; i <= activeStep; i++)
    -   if (i !== activeStep)
          .progress-tracker__step.progress-tracker__step_complete
            .progress-tracker__marker=i
    -   else
          .progress-tracker__step.progress-tracker__step_active
            .progress-tracker__marker=i

    - for (let i = activeStep + 1; i <= stepCount; i++)
        .progress-tracker__step
          .progress-tracker__marker=i
