mixin pie-chart(options)
  -
    options = options || {};
    options.strokeWidth = typeof options.strokeWidth === "number" && !isNaN(options.strokeWidth) ? options.strokeWidth : 6;
    options.data = options.data || [];

    const valueSum = options.data.reduce((sum, data) => sum + data.value, 0);
    let offset = 0;
    const segmentData = options.data.map(dataObject => {
      let segment = {
        color: dataObject.color || "#000",
        value: (dataObject.value / valueSum) * 100,
        offset: 25 - offset,
      };

      offset += segment.value;

      return segment;
    });

  svg.pie-chart(viewBox="0 0 42 42", class=options.color)
    each segment in segmentData
      circle.pie-chart__segment(
        cx="21", cy="21", r="15.91549430918954",
        stroke-width=options.strokeWidth, stroke-dasharray=`${segment.value} ${100 - segment.value}`,
        stroke-dashoffset=`${segment.offset}`, stroke=segment.color)
