mixin pie-chart(o)
  -
    o = o || {};
    o.strokeWidth = typeof o.strokeWidth === "number" && !isNaN(o.strokeWidth) ? o.strokeWidth : 5;
    o.data = o.data || [];
    
    const valueSum = o.data.reduce((sum, data) => sum + data.value, 0);
    let offset = 0;
    const segmentData = o.data.map(d => {
      let segment = {
        color: d.color || "#000",
        value: (d.value / valueSum) * 100,
        offset: 25 - offset,
      };
      
      offset += segment.value;
      
      return segment;
    });

  svg.pie-chart(viewBox="0 0 42 42", class=o.color)
    each s in segmentData
      circle.pie-chart__segment(
        cx="21", cy="21", r="15.91549430918954",
        stroke-width=o.strokeWidth, stroke-dasharray=`${s.value} ${100 - s.value}`,
        stroke-dashoffset=`${s.offset}`, stroke=s.color)
