include ../speech-bubble/speech-bubble

mixin user-profile(options)
  -
    options = options || {};

    const { color, direction, name, job, facebook, twitter, dribbble } = options;

    let className = "user-profile";
    className += color ? ` user-profile_color_${color}` : "";
    className += direction ? ` user-profile_direction_${direction}` : "";

    let { avatar } = options;
    avatar = avatar || "./assets/no-avatar.png";

  div(class=className)
    .user-profile__avatar-wrapper
      img.user-profile__avatar(src=avatar, alt="avatar")
    .user-profile__speech-bubble-wrapper
      +speech-bubble({color: color, direction: direction})
        .user-profile__info
          .user-profile__name=name
          .user-profile__job=job
          .user-profile__contacts
            a.user-profile__facebook(href=facebook, target="_blank", rel="noopener noreferrer")
            a.user-profile__twitter(href=twitter, target="_blank", rel="noopener noreferrer")
            a.user-profile__dribbble(href=dribbble, target="_blank", rel="noopener noreferrer")
