mixin user-profile(options)
  -
    options = options ? options : {};
    options.classname = options.classname ? options.classname + ' ' : '';
    options.mods = options.mods ? options.mods : [];

    let photoStyle = '';
    if (options.photo) {
      photoStyle = 'background-image: url(\'' + options.photo + '\'); ' +
                   'background-size: contain; '                         +
                   'background-repeat: no-repeat; '                     +
                   'background-position: center;';
    }

    let mods = '';
    for (let i = 0; i < options.mods.length; i++) {
      mods += 'user-profile_' + options.mods[i];
      if (i < options.mods.length - 1) {
        mods += ' ';
      }
    }

  .user-profile(class=options.classname + mods)
    .user-profile__photo(style=photoStyle)
    .user-profile__dialog
      .user-profile__triangle
      .user-profile__name=options.name
      .user-profile__job=options.job
      .user-profile__contacts
        a.user-profile__facebook(href=options.facebook, target='_blank')
        a.user-profile__twitter(href=options.twitter, target='_blank')
        a.user-profile__dribbble(href=options.dribbble, target='_blank')
