include ../info-block/info-block
include ../button/button

mixin event(o)
  -
    o = o || {};
    o.infoBlockColor = typeof o.color === "string" ? o.color : undefined;
    o.buttonColor = typeof o.color === "string" ? o.color : undefined;
    o.color = typeof o.color === "string" ? "news_" + o.color : undefined;

  .event(class=o.color)
    +info-block({color: o.infoBlockColor, image: o.image})
      .event__content
        .event__date
          .event__day=o.day
          .event__month=o.month
        .event__title=o.title
        .event__text=o.text
        .event__btn-wrapper
          +button({color: o.buttonColor, text: o.buttonText, size: "small", padding: "non-padding"})
