include ../info-block/info-block
include ../button/button

mixin event(options)
  -
    options = options || {};
    options.infoBlockColor = typeof options.color === "string" ? options.color : undefined;
    options.buttonColor = typeof options.color === "string" ? options.color : undefined;
    options.color = typeof options.color === "string" ? "event_" + options.color : undefined;

  .event(class=options.color)
    +info-block({color: options.infoBlockColor, image: options.image})
      .event__content
        .event__date
          .event__day=options.day
          .event__month=options.month
        .event__title=options.title
        .event__text=options.text
        .event__button-wrapper
          +button({
            inversed: true,
            color: options.buttonColor,
            text: options.buttonText,
            size: "small",
            padding: "non-padding"
          })
