mixin arrow-button(options)
  -
    options = options || {};
    options.color = typeof options.color === "string" ? "arrow-button_" + options.color : undefined;
    options.size = typeof options.size === "string" ? "arrow-button_" + options.size : undefined;
    options.inversed = options.inversed === true ? "arrow-button_inversed" : undefined;
    options.disabled = typeof options.disabled === "boolean" ? "arrow-button_disabled" : undefined;
    options.direction = typeof options.direction === "string"
      ? "arrow-button_" + options.direction
      : undefined;

  button.arrow-button(
    class=options.color, class=options.size,
    class=options.inversed, class=options.direction,
    class=options.disabled
  )&attributes(options.attr)
    span.arrow-button__triangle
