mixin info-block(options)
  -
    options = options || {};
    options.image = options.image || {};
    options.image.src = typeof options.image.src === "string" ? options.image.src : "./assets/no-image.png";
    options.image.left = typeof options.image.left === "string" ? options.image.left : "50%";
    options.image.top = typeof options.image.top === "string" ? options.image.top : "50%";
    options.color = typeof options.color === "string" ? "info-block_" + options.color : undefined;
    
    const imageStyle = `object-position: ${options.image.left} ${options.image.top}`

  .info-block(class=options.color)
    img.info-block__image(src=options.image.src, alt="image", style=imageStyle)
    .info-block__content
      block
