mixin info-block(options)
  -
    options = options || {};

    const { color } = options;

    let className = "info-block";
    className += color ? ` info-block_color_${color}` : "";

    let { image } = options;

    image = image || {};
    const imageSrc = image.src || "./assets/no-image.png";
    const left = image.left || "50%";
    const top = image.top || "50%";
    const imageStyle = `object-position: ${left} ${top}`

  div(class=className)
    img.info-block__image(src=imageSrc, alt="image", style=imageStyle)
    .info-block__content
      block
