mixin search(options)
  -
    options = options || {};

    const { color, attr } = options;

    let className = "search js-search";
    className += color ? ` search_color_${color}` : "";

    let { placeholder, notFoundMessage } = options;

    placeholder = placeholder || "Search";
    notFoundMessage = notFoundMessage || "I've not found what I'm looking for...";

  div(class=className)
    input.search__input(
      type="search",
      data-placeholder=placeholder,
      data-not-found-message=notFoundMessage
    )&attributes(attr)
    .search__button
