- const getFullClassname = htmlWebpackPlugin.options.functions.getFullClassname;

mixin search(options)
  -
    options = options || {};
    options.placeholder = options.placeholder || 'Search';
    options.notFoundMsg = options.notFoundMsg || 'I\'ve not found what I\'m looking for...';

  div(class=getFullClassname('search', options.classname, options.modes))
    input.search__input(type="search", placeholder=options.placeholder, data-not-found-msg=options.notFoundMsg, value=options.value, maxlength=options.maxLength)
    .search__btn
