mixin percentage-circle(options)
  -
    options = options || {};
    options.percent = typeof options.percent === "number" && !isNaN(options.percent) ? options.percent : 0;
    options.strokeWidth = typeof options.strokeWidth === "number" && !isNaN(options.strokeWidth) ? options.strokeWidth : 2;
    options.color = typeof options.color === "string" ? "percentage-circle_" + options.color : undefined;

    if (options.percent < 0) {
      options.percent = 0;
    } else if (options.percent > 100) {
      options.percent = 100;
    }

  svg.percentage-circle(viewBox="0 0 42 42", data-percent=options.percent, class=options.color)
    circle.percentage-circle__background-ring(
      cx="21", cy="21", r="15.91549430918954", stroke-width=options.strokeWidth)
    circle.percentage-circle__tracker(
      cx="21", cy="21", r="15.91549430918954", stroke-width=options.strokeWidth,
      stroke-dasharray=`${options.percent} ${100 - options.percent}`, stroke-dashoffset="25")
    text.percentage-circle__percent-text(
      x="50%", y="50%", text-anchor="middle", alignment-baseline="middle")=options.percent
