mixin map(options)
  -
    options = options || {};
    options.center = options.center || {};
    options.marker = options.marker || {};
    options.color = typeof options.color === "string" ? "map_" + options.color : undefined;

  .map.js-map(
    class=options.color,
    data-center-lat=options.center.lat,
    data-center-lng=options.center.lng,
    data-marker-lat=options.marker.lat,
    data-marker-lng=options.marker.lng,
    data-show-marker=options.showMarker ? "true" : false,
    data-zoom=options.zoom
  )
    .map__window
    .map__footer
      .map__title=options.title
      .map__address=options.address
      .map__buttons
        button.map__location-button(type="button")
        button.map__pin-button(type="button")
