mixin map(o)
  -
    o = o || {};
    o.center = o.center || {};
    o.marker = o.marker || {};
    o.color = typeof o.color === "string" ? "map_" + o.color : undefined;

  .map.js-map(
    class=o.color,
    data-center-lat=o.center.lat,
    data-center-lng=o.center.lng,
    data-marker-lat=o.marker.lat,
    data-marker-lng=o.marker.lng,
    data-show-marker=o.showMarker ? "true" : false,
    data-zoom=o.zoom
  )
    .map__window
    .map__footer
      .map__title=o.title
      .map__address=o.address
      .map__buttons
        button.map__location-button(type="button")
        button.map__pin-button(type="button")
