mixin slider(options)
  -
    options = options || {};
    options.min = options.min || 0;
    options.max = options.max || 100;
    options.grid = options.grid === true ? "true" : undefined;
    options.snapGrid = options.snapGrid === true ? "true" : undefined;
    options.hideBar = options.hideBar === true ? "slider_non-bar" : undefined;
    options.hideValueLabel = options.hideValueLabel === true ? "true" : undefined;
    options.hideMinMax = options.hideMinMax === true ? "true" : undefined;
    options.color = typeof options.color === "string" ? " slider_" + options.color : "";

  .slider.js-slider(class=options.color, class=options.hideBar)
    input(
      data-min=options.min,
      data-max=options.max,
      data-grid=options.grid,
      data-grid-snap=options.snapGrid,
      data-hide-from-to=options.hideValueLabel,
      data-hide-min-max=options.hideMinMax,
      data-from=options.start,
      data-step=options.step
    )
