- const getFullClassname = htmlWebpackPlugin.options.functions.getFullClassname;

mixin slider(options)
  -
    options = options || {};

  input.slider(
    data-extra-classes=getFullClassname('slider', options.classname, options.modes),
    data-min=options.min || 0,
    data-max=options.max || 100,
    data-grid=options.grid ? "true" : false,
    data-hide-from-to=!options.valueLabel ? "true" : false,
    data-hide-min-max=!options.minMaxLabel ? "true" : false,
    data-from=options.start,
    data-step=options.step
  )
