mixin slider(options)
  -
    options = options || {};

    const {
      min,
      max,
      start,
      step,
      gridStep,
      displayHint,
      displayTracker,
      displayGrid,
      color
    } = options;

    let className = "slider js-slider";
    className += color ? ` slider_color_${color}` : "";

  div(
    class=className,
    data-min=min,
    data-max=max,
    data-from=start,
    data-step=step,
    data-grid-step=gridStep,
    data-display-hint=displayHint ? "true" : false,
    data-display-tracker=displayTracker ? "true" : false,
    data-display-grid=displayGrid ? "true" : false
  )
