mixin slider(o)
  -
    o = o || {};
    o.min = o.min || 0;
    o.max = o.max || 100;
    o.grid = o.grid ? "true" : false;
    o.hideFromTo = o.hideFromTo ? "true" : false;
    o.hideMinMax = o.hideMinMax ? "true" : false;
    o.color = typeof o.color === "string" ? " slider_" + o.color : "";

  .slider.js-slider(class=o.color)
    input(
      data-min=o.min,
      data-max=o.max,
      data-grid=o.grid,
      data-hide-from-to=o.hideFromTo,
      data-hide-min-max=o.hideMinMax,
      data-from=o.start,
      data-step=o.step
    )
